<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin-top: 16px; margin-bottom:8px;">
  <h1>
    Wells Fargo Competition Dynamic UI
  </h1>
</div>


<div style="text-align:center">
    <h1> Input Some Values </h1>
</div>
<div class="banner">
  <div class="form">
    <div class="form-field">
      <div>Checking Acct Value </div>
      <div class="border-divider"></div>
      <input type="text" [(ngModel)]="PostBody.check_bal_altered"/> <br/>
    </div>
    <div class="form-field">
      <div> Number of Savings Accounts </div>
      <div class="border-divider"></div>
      <input type="text" [(ngModel)]="PostBody.savings_acct_cnt"><br/>
    </div>
    <div class="form-field">
      <div>Number of Checking Accounts</div>
      <div class="border-divider"></div>
      <input type="text" [(ngModel)]="PostBody.checking_acct_cnt"><br/>
    </div>
  </div>
  <div class="button-holder">
    <button class="submit-button" (click)="postFormValues()">Submit</button>
  <div>
</div>
<div class="banner">
  <advertisement [classification]=selectedClass></advertisement>
</div>
