.opt-container{
  height: 1000px;
  margin-right: 4em;
  margin-left: 20em;
  float:left;
}

.options {
  list-style-type: none;
  width: 300px;
  margin: 0px !important;
  display: inline;
}

ul > .badge {
  background-color: firebrick;
  border: 1px solid gray;
  border-radius: 4px;
  width: 300px;
  margin: 1em;
  margin-right: 0px;
}

.badge > li {
  font-size: 25px;
  padding-left: .8em;
  margin-right: 0px;
}
