<!--The content below is only a placeholder and can be replaced.-->
<div  class="red-bg header-banner">
  <h1>
    Wells Fargo Competition Dynamic UI
  </h1>
</div>


<div style="text-align:center">
    <h1> Input Some Values </h1>

</div>
<div class="banner">
  <div class="form">
    <div *ngFor="let month of PostBody; index as i;  trackBy: trackLines" class="form-field">
        <div>Checking Acct Value: Month {{i+1}}</div>
        <div class="border-divider"></div>
        <span class=""> $ <input type="text" [(ngModel)]="PostBody[i]"/> </span> <br/>
    </div>
  <div class="button-holder">
    <button class="submit-button" (click)="postFormValues()">Submit</button>
  </div>
</div>
<div class="ad-banner">
  <advertisement [classification]=selectedClass [change]=returnedChange></advertisement>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
