<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Wells Fargo Competition Dynamic UI
  </h1>
</div>
<div>Checking Acct Value <input [(ngModel)]="value"/> $ {{value}} </div> <br/>
<div>Attrib. <input [(ngModel)]="attrib"> {{attrib}} </div><br/>
<button (click)="postFormValues()">Submit</button>
<div style="text-align:center">
    <h2> Suggested Advertisement: </h2>
</div>
<div class="opt-container">
  <ul class="options">
    <div *ngFor="let class of offer_classes"
          (click)="onSelect(class)"
          class="badge">
      <li >Customer Classification {{class}}</li>
    </div>
  </ul>
</div>
<advertisement [classification]=selectedClass></advertisement>
