/* You can add global styles to this file, and also import other style files */
body {
  padding: 0.0px;
  margin: 0.0px !important;
}


.red-bg{
  background-color: #BB0826;
}

.yellow-bg{
  background-color: #FCC60A;
}
